* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

header {
    background-image: linear-gradient(to top, #000000a2, #ffaeae80), url('/Asset/Images/sedan-vs-luxury-banner.jpeg');
    background-size: cover;
    background-position: center center;
    text-align: center;
    padding: 5em;

}


header p {
    text-align: center;
    color: white;
    font-size: 2em;
}

header h6 {
    color: white;
    font-size: 3em;
    margin-bottom: 1em;
}

#headerH1 {
    font-size: 6rem;
    color: rgb(255, 67, 67);
    font-family: 'Tektur', cursive;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);

}