* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

section {
    margin-top: 5em;
    margin-bottom: 5em;
}

header {
    background-image: linear-gradient(to top, #000000a2, #ffaeae80), url('/Asset/Images/sedan-vs-luxury-banner.jpeg');
    background-size: cover;
    background-position: center center;
    text-align: center;
    padding: 6em 3rem;


}

.title {
    font-size: 3rem;
    width: 60%;
    text-align: center;
    margin: 0 auto;
}

header p {
    text-align: center;
    color: white;
    font-size: 1.5em;
    padding: 0 5rem;
}

header h6 {
    color: white;
    font-size: 3em;
    margin-bottom: 1em;
}

#headerH1 {
    font-size: 6rem;
    color: #ff4343;
    font-family: 'Tektur', cursive;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);

}

.inventory {
    margin-top: 6rem;
}



/* CSS */
.card {
    width: 100%;
    /* height: 200px; */
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.image {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.overlay h2,
.overlay p {
    color: #fff;
    text-align: center;
}

.card:hover .image {
    transform: scale(1.1);
}

.card:hover .overlay {
    opacity: 1;
}

#inventoryCards {
    width: 90%;
    margin: auto;
    margin-top: 10em;
    margin-bottom: 10rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* display: grid;
    grid-template-columns: repeat(3, 1fr); */
    /* Three columns each with 300px width */
    gap: 40px;
    justify-content: center;
    /* Horizontally centers the cards */
    align-items: center;
    /* padding: 20px; */
}

/* CSS */
.serviceGrid {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

.custom-card {
    border-radius: 10px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.8);
    position: relative;
    overflow: hidden;
    padding: 20px;
    transition: transform 0.3s ease;
    height: fit-content;
    padding: 3em;
}

/* .large {
    height: 300px;
    padding: 50px;

}

.medium {
    height: 250px;
    padding: 50px;
}

.small {
    height: 200px;
    padding: 50px;
} */

.custom-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(255, 255, 255, 0.5), transparent);
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.custom-card:hover {
    transform: scale(1.05);
}

.custom-card:hover::before {
    opacity: 1;
}

#About {
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: space-between;
    padding: 2em 3em;
    background-image: url('/Asset/Images/about.png');
    background-size: cover;
    background-position: center center;
    border-radius: 2em;
    margin-top: 5rem;


}

.AboutUS {
    padding: 0 1em;
    width: 50%;
    height: 600px;
    overflow-y: scroll;

}

.AboutUS::-webkit-scrollbar {
    width: 5px;
}


.AboutUS::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 4px;
}

.AboutUS::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

.AboutUS {
    scrollbar-width: thin;

}


.AboutUS::-webkit-scrollbar-track {
    background: #f1f1f1;
}


.AboutUS::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}


.AboutUS div {
    background: rgba(255, 255, 255, 0.5);
    /* Adjust the alpha value (0 to 1) to control opacity */
    backdrop-filter: blur(10px);
    /* Applies a blur effect to create the glass effect */
    border-radius: 10px;
    padding: 2em;
    text-align: justify;
    margin: 1rem;
}